.main{
    width: 100%;
    height: 937px;
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 100%;
    height: 300px;
    background-color: goldenrod;
    margin-left: auto;
    margin-right: auto;
}
.slider{
    width: 100%;
    height: 20px;
}
.news{
    width: 7%;
    height: 55px;
    position: absolute;
    font-weight: bolder;
    font-size: 30px;
    color:red;
    background: linear-gradient(100deg, yellow, whitesmoke);
}
.text{
    margin-left: 7%;
    color: black;
    cursor: auto;
    font-weight: bolder;
    background: linear-gradient(20deg, black, grey, whitesmoke);
}

/*Nav design start*/
.nav{
    width: 100%;
    height:40px;
    border-radius: 4px 4px 4px 4px;
    margin-left: auto;
    margin-right: auto;
}
.brand{
    float: right;
    font-size: 1.3em;
    margin-right: 4px;
    margin-top: 9px;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position:absolute;
}

ul li{
    float: left;
    margin-top: 10px;
}
ul{
    margin-left: auto;
}

ul li a{
    width: 150px;
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(190deg, skyblue, gray, green ); 
    border-radius: 20px 4px ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}
.dropDown{
    margin-left: 0px;
}

a:hover{    
    font-size: 1.3em;
    background: linear-gradient(190deg, yellow,black,orange ); 

}
ul li ul li{
    float: none;
}

ul li ul{
    display: none;
}

ul li:hover ul{
    display: block;
}

.dropDown{
    border-radius: 20px 15px 20px 5px ;
    background-size: 40px;
}

/*Nav design end*/

.content{
    width: 100%;
    height: 550px;
    background-color: forestgreen;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(190deg, white, whitesmoke, grey );
    overflow: auto;
    margin-top: auto;   
}
.heading{
    text-align: center;
    font-family: bell 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(120deg, blue, whitesmoke, skyblue);
    border-radius: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.info{
    text-align: justify;
    font-size: 30px;
    text-indent: 1.5em;
}
.names{
    text-align: center;
    background: linear-gradient(120deg, chartreuse, whitesmoke, rgb(2, 236, 2));
}
.names tr td{
    font-weight: bolder;
    font-family: bell 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    position: absolute;
}

.footer{
    width: 100%;
    height: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 15px;
    background: linear-gradient(190deg, rgb(134, 134, 6), whitesmoke, rgb(212, 174, 103) );
}
.footer p{
    color: crimson;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: bold;  
}